@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color:#047aed;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;

}
/* Nvbar */
.navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;

}
a{
    text-decoration: none;
    color: #333;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
.navbar a{
    padding: 10px;
    margin: 0 5px;
    color: #fff;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar{
    background-color: var(--primary-color);
    height: 70px;
    color: #fff;
}

.container.flex{
    justify-content: space-between;
}

/* about */
.about{
    height: 400px;
    background-color: var(--primary-color);
    position: relative;
}
.about .grid{
    overflow: visible;
    color: #fff;
}
.about h2{
    font-weight: 600;
    color: #333;
    padding-bottom: 10px;
}

.about .img{
    border-radius: 30px;
    height:70%;
    width:70%;
}
.about .img-section{
    z-index: 100;
}
.about::before,
.about::after{
    content: "";
    height: 100px;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -70px;
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
}

/* skill */
.skill{
    padding-top: 100px;
    height: 600px;

}
.skill .grid-auto{
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    justify-items: center;
    text-align: center;

}

.skill .grid-auto .skill-logo{
    height: 100px;
    width: 100px;
    transition: all 0.5s;
}
.skill .grid-auto .skill-logo:hover{
    transform: scale(1.1);
}
.skill h1{
    text-align: center;
    font-weight: 800;
}
.skill p{
    font-weight: bold;
}

/* Portfolio */
.portfolio h1{
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 800;
}
.portfolio .grid-portfolio{
    grid-template-columns: repeat(3,1fr);
}

.portfolio .grid-portfolio .card{
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: 500;
    height: 95%;
    transition: transform 0.2s;
}

.portfolio .grid-portfolio .card:hover{
    transform: translateY(-15px);
}


/* Contact */
.contact h1{
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.contact .form-control{
    padding: 10px 0;

}
.contact .card{
    background-color: #fff;
    
}

.contact .form-control input[type="text"],
.contact .form-control input[type="email"]{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #b4becb;
    width: 100%;

}

.contact input:focus{
    outline: none;
}
.contact .btn{
    padding: 10px 30px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;

}

.contact .btn:hover{
    transform: scale(0.98);
}

.contact .icon-contact{
    padding: 10px;
    text-align: center;
}

.icon-contact .fab{
    size: 1.2em;
}
.contact .fab{
    padding: 10px 10px;
    transition: all 0.5s ease-in-out;
}

.contact .fab:hover{
    transform: scale(1.1);
}
/* Footer */
.footer{
    height: 60px;
    background-color: #063666;
    text-align: center;
    font-size: 12px;
    position: relative;
}
.footer p,a{
    padding: 0;
    margin: 0;
    color: #fff;
}


/* Utility */

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.2);


}


